<aside class="dashboardNav">
    <div class="dashImg">
        <img src="/images/decorativeImages/magic-ball.png" width="100" height="100">
    </div>
    <p id="welcome-message"></p>
</aside>
<script src="/js/main.js"></script>