<header>
    <div class="banner">
        <div class="left">
            <a href="tel:18077702422"><i class="fas fa-phone"></i> +1 (807) 770-2422</a>
            <span class="bannerSpan">|</span>
            <a href="mailto:info@lightoftwelve.com"><i class="fas fa-envelope"></i> INFO@LIGHTOFTWELVE.COM</a>
        </div>
        <div class="center">
            <span>ALL INCLUSIVE PRICING & WORLDWIDE SHIPPING</span>
        </div>
        <div class="rightSideBanner">
            <div class="headerShare">
                <span class="bannerSpanShare">SHARE</span>
                <span class="bannerSpan">|</span>
                <a href="#" id="facebook-share"><i class="fab fa-facebook"></i></a>
                <a href="#" id="twitter-share"><i class="fab fa-twitter"></i></a>
                <a href="#" id="pinterest-share"><i class="fab fa-pinterest"></i></a>
                <a href="#" id="tumblr-share"><i class="fab fa-tumblr-square"></i></a>
                <a href="#" id="telegram-share"><i class="fab fa-telegram"></i></a>
                <a href="#" id="email-share"><i class="fas fa-envelope"></i></a>
                <a href="#" id="whatsapp-share"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
    <div class="headerMenu">
        <div class="iconWidth">
            <div class="logo"></div>
        </div>
        <div class="toggle">
        </div>
        <nav class="links">
            <a href="https://lightoftwelve.com/collections/crystals">SHOP</a>
            <a href="https://lightoftwelve.com/blogs/learning-about-tarot">TAROT CARD MEANINGS</a>
            <a href="https://lightoftwelve.com/blogs/the-healing-crystal-guide">CRYSTAL MEANINGS</a>
            <a href="/">ASTROLOGY</a>
        </nav>
        {{#if logged_in}}
        <div class="sign-in" id="signOutButton">
            <i class="fas fa-user"></i><span id="signInText">SIGN OUT</span>
        </div>

        {{else}}
        <div class="sign-in" id="signInButton">
            <i class="fas fa-user"></i><span id="signInText">SIGN IN</span>
        </div>
        {{/if}}

    </div>
</header>

<script src="/js/header.js"></script>
<script src="/js/social.js"></script>