<div class="subheader">
    <a href="/">DASHBOARD</a>
    {{!-- <a href="/astrology/zodiac-sign">SUN SIGN</a> --}}
    <a href="/astrology/explore-astrology-aspects">ASPECTS</a>
    {{!-- <a href="/houses">HOUSES</a> --}}
    <a href="/new-natal-chart">CALCULATE BIRTHCHART</a>
</div>