<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Submission</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3BeSZ2qdTiywiZoT0uzVovhm5m1uA_cU&libraries=places"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="bc_body">
        <div class="bc_container">
            <form id="bc_userForm">
                <label class="bc_label" for="name">Name/Nickname:</label>
                <input class="bc_input" type="text" id="name" name="name" required><br><br>

                <div class="radioButton">
                    <span class="bc_label">Gender:</span>
                    <input class="bc_radio" type="radio" id="male" name="gender" value="M" required>
                    <label class="bc_label" for="male">M</label>
                    <input class="bc_radio" type="radio" id="female" name="gender" value="F">
                    <label class="bc_label" for="female">F</label>
                    <input class="bc_radio" type="radio" id="other" name="gender" value="Other">
                    <label class="bc_label" for="other">Other</label><br><br>
                </div>
                <label class="bc_label" for="birthday">Birthday:</label>
                <input class="bc_input" type="text" id="birthday" name="date" required><br><br>


                <label class="bc_label" for="time">Time:</label>
                <select class="bc_select" id="hour" name="hour" required>
                    <!-- Options from 0 to 23 for hours -->
                </select>
                <select class="bc_select" id="minute" name="minute" required>
                    <!-- Options from 0 to 59 for minutes -->
                </select>
                <select class="bc_select" id="second" name="second" required>
                    <!-- Options from 0 to 59 for seconds -->
                </select><br><br>

                <label class="bc_label" for="location">Location:</label>
                <input class="bc_input" type="text" id="location" required><br><br>

                <!-- Hidden fields to hold longitude, latitude, and elevation -->
                <input type="hidden" id="longitude" name="longitude">
                <input type="hidden" id="latitude" name="latitude">
                <input type="hidden" id="elevation" name="elevation">

                <button class="bc_button" type="submit">Submit</button>
            </form>
        </div>
        {{!-- <div class="bc_results" id="results"></div> --}}
        <script src="/js/geocodeElevation.js"></script>
</body>

</html>