<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="./assets/images/icons/welding-flavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>

    <footer>
        <div class="footer-content">
            <div class="footer-introduction">
                <h3>LIGHT OF TWELVE</h3>
                <p>Discover the power of holistic healing at Light of Twelve, your online destination for premium
                    quality
                    healing crystals, tarot card reading tutorials, and crystal healing guides. With our carefully
                    selected
                    range and in-depth educational content, we're dedicated to helping you embrace a more balanced and
                    enlightened lifestyle.</p>
                <div class="chatWithUs">
                    <div class="geoIcon">
                        <!--add Geo icon 25% width-->
                        <a href="#" class="location-icon"><i class="fas fa-comment-dots"></i></a>
                    </div>
                    <div class="contactHours">
                        <!--add contact info 75% width-->
                        <span><u>Chat With Us</u>
                            <br>Monday - Friday</span>
                        <br>10:00am-6:00pm EST</span>
                        <br>info@lightoftwelve.com</span>
                        <br>+1 (807) 770-2422</span>
                    </div>
                </div>
                <div>
                    <div class="social-media">
                        <div class="social-media">
                            <a href="#" id="facebook-share"><i class="fab fa-facebook"></i></a>
                            <a href="#" id="twitter-share"><i class="fab fa-twitter"></i></a>
                            <a href="#" id="pinterest-share"><i class="fab fa-pinterest"></i></a>
                            <a href="#" id="tumblr-share"><i class="fab fa-tumblr-square"></i></a>
                            <a href="#" id="telegram-share"><i class="fab fa-telegram"></i></a>
                            <a href="#" id="email-share"><i class="fas fa-envelope"></i></a>
                            <a href="#" id="whatsapp-share"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resources">
                <h3>RESOURCES</h3>
                <a href="https://lightoftwelve.com/blogs/learning-about-tarot" target="_blank">
                    <li>Tarot Card Meanings</li>
                </a>
                <a href="https://lightoftwelve.com/blogs/the-healing-crystal-guide" target="_blank">
                    <li>Crystal Meanings</li>
                </a>
            </div>
            <div class="shop">
                <h3>CRYSTAL SHOP</h3>
                <a href="https://lightoftwelve.com/collections/crystals" target="_blank">
                    <li>View All</li>
                </a>
                <a href="https://lightoftwelve.com/collections/crystal-animal-carvings" target="_blank">
                    <li>Animal Carvings</li>
                </a>
                <a href="https://lightoftwelve.com/collections/crystal-clusters" target="_blank">
                    <li>Clusters</li>
                </a>
                <a href="https://lightoftwelve.com/collections/crystal-flames-crystal-freeforms" target="_blank">
                    <li>Flames & Freeforms</li>
                </a>
                <a href="https://lightoftwelve.com/collections/geodes" target="_blank">
                    <li>Geodes</li>
                </a>
                <a href="https://lightoftwelve.com/collections/gifts-home" target="_blank">
                    <li>Gifts & Home</li>
                </a>
                <a href="https://lightoftwelve.com/collections/crystal-hearts" target="_blank">
                    <li>Hearts</li>
                </a>
                <a href="https://lightoftwelve.com/collections/palm-stones" target="_blank">
                    <li>Palm Stones</li>
                </a>
                <a href="https://lightoftwelve.com/collections/crystal-tower" target="_blank">
                    <li>Points & Towers</li>
                </a>
                <a href="https://lightoftwelve.com/collections/carved-crystal-shapes" target="_blank">
                    <li>Shapes</li>
                </a>
                <a href="https://lightoftwelve.com/collections/crystal-mineral-specimens" target="_blank">
                    <li>Specimens & Display</li>
                </a>
                <a href="https://lightoftwelve.com/collections/crystal-spheres" target="_blank">
                    <li>Spheres</li>
                </a>
                <a href="https://lightoftwelve.com/collections/stone-slices" target="_blank">
                    <li>Stone Slices</li>
                </a>
            </div>
            <div class="shop">
                <h3>POLICIES</h3>
                <a href="https://lightoftwelve.com/pages/about-us" target="_blank">
                    <li>About Us</li>
                </a>
                <a href="https://lightoftwelve.com/pages/faq" target="_blank">
                    <li>FAQs</li>
                </a>
                <a href="https://lightoftwelve.com/pages/contact" target="_blank">
                    <li>Contact</li>
                </a>
                <a href="https://lightoftwelve.com/pages/sizing-chart" target="_blank">
                    <li>Size Chart</li>
                </a>
                <a href="https://lightoftwelve.com/pages/disclaimer" target="_blank">
                    <li>Disclaimer</li>
                </a>
                <a href="https://lightoftwelve.com/pages/terms-of-service" target="_blank">
                    <li>Terms of Service</li>
                </a>
                <a href="https://lightoftwelve.com/pages/privacy-policy" target="_blank">
                    <li>Privacy Policy</li>
                </a>
                <a href="https://lightoftwelve.com/pages/cookies-policy" target="_blank">
                    <li>Cookies Policy</li>
                </a>
                <a href="https://lightoftwelve.com/pages/shipping-policy" target="_blank">
                    <li>Shipping Policy</li>
                </a>
                <a href="https://lightoftwelve.com/pages/return-policy" target="_blank">
                    <li>Return Policy</li>
                </a>
                <a href="https://lightoftwelve.com/pages/acceptable-use-policy" target="_blank" target_blank>
                    <li>Acceptable Use Policy</li>
                </a>
                <a href="https://lightoftwelve.com/pages/dsar-form" target="_blank">
                    <li>DSAR Form</li>
                </a>
                <a href="https://app.termly.io/notify/06c18d89-c361-4fa1-bcb0-54712942495f" target="_blank">
                    <li>Do Not Sell My Info</li>
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <span>All Rights Reserved © [2023] <a href="https://www.lightoftwelve.com" target="_blank">
                    Light of Twelve |</a><a href="https://www.linkedin.com/in/victoria-alawi-872984250" target="_blank">
                    <i class="fab fa-linkedin"></i> Victoria Alawi</a></span>
        </div>
    </footer>

</body>
<script src="/public/js/social.js"></script>