<div class="generateBirthChart">
    <h1>Your Astrology Chart</h1>

    {{> basicChartCalculations}}

    <!-- Display celestial bodies' information -->
    {{> celestialBodiesInfo}}

    <!-- Display valid astrology aspects -->
    {{> aspects}}
</div>