<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light of Twelve - Astrology</title>
</head>

<body>
    <div id="container">
        <div id="logo"></div>
        <h2>WELCOME TO</h2>
        <h1>LIGHT OF TWELVE</h1>
        <h3>ASTROLOGY</h3>
        <button id="signInButton">Sign In</button>
    </div>
</body>

</html>