@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

:root {
    --white: #fff;
    --babyblue: #b0e0e6;
    --gold: #9F6B5D;
    --purple: #9C416E;
    --darker: #251342;
    --darkest: #130A21;
    --black: #000;
    --soft-glow: 0 0 10px var(--gold), 0 0 20px var(--gold), 0 0 30px var(--gold), 0 0 40px var(--gold);
    /* --soft-glow: 0 0 3px var(--gold), 0 0 10px var(--gold), 0 0 3px var(--gold), 0 0 40px var(--gold); */

}


* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

h1 {
    font-size: 36px;

}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Cormorant', serif;
}

p {
    font-size: 16px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    z-index: 100;
}

nav {
    font-family: 'Cormorant', serif;
}

/* --------------------------------------
            HEADER NAV & LINKS
  --------------------------------------*/
.headerMenu {
    padding: 0 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--darkest);
    background-size: cover;
    background-image: url('../images/login/galaxy-flower-background.jpg');
}

.iconWidth {
    flex: 1;
}

.logo {
    justify-content: left;
    width: 135px;
    height: 135px;
    background: url('../images/logos/white-lightoftwelve-logo.png') no-repeat center;
    background-size: contain;
}

.links {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    font-family: 'Cormorant', serif;
    margin: 0 15px;
    color: var(--white);
    text-decoration: none;
}

.links a:hover {
    margin: 0 15px;
    color: var(--purple);
}

.sign-in {
    flex: 1;
    display: flex;
    justify-content: right;
}

.sign-in span {
    font-family: 'Cormorant', serif;
    margin-left: 10px;
}

.sign-in:hover {
    cursor: pointer;
    color: var(--purple);
}

/* --------------------------------------
           HEADER BANNER
  --------------------------------------*/
.banner {
    margin: 0;
    padding: 10px 20px;
    font-family: 'Cormorant', serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--darkest);
}

.banner a {
    color: var(--white);
    text-decoration: none;
}

.bannerSpan {
    margin-right: 10px;
}

.left {
    flex: 1;
    display: flex;
    justify-content: left;
}

.left a {
    margin-right: 10px;
}

.left a:hover {
    color: var(--purple);
}

.left a i,
.share-icons a i {
    margin-right: 3px;
}

.center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.rightSideBanner {
    flex: 1;
    display: flex;
    justify-content: right;
}

.bannerSpanShare {
    font-size: 12px;
    margin-right: 7px;
}

.headerShare {
    display: flex;
    align-items: center;
}

.headerShare a {
    padding: 3px;
    color: var(--white);
    text-decoration: none;
}

.headerShare a:hover {
    color: var(--purple);
}

/* --------------------------------------
             LOGIN PAGE
  --------------------------------------*/
.loginPage {
    width: 100%;
    font-family: Arial, sans-serif;
    background: url('../images/login/galaxy-flower-background.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--white);
    font-family: 'Cormorant', serif;
    height: 800px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.loginPageColumn {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height: 0.8;
}

.loginPageColumn img {
    width: 135px;
    height: 135px;
    margin: 0 auto;
}

.loginPageColumn p {
    font-size: 2.5em;
    line-height: 0.5;
    margin: 0.2em 0;
    font-family: 'Cormorant', serif;

}

.loginPageColumn h1 {
    font-size: 7em;
    margin: 0.2em 0;
}

#loginBtn {
    background-color: var(--white);
    border: 1px var(--darkest) solid;
    color: var(--darkest);
    width: 175px;
    font-size: 12px;
    margin-top: 30px;
    padding: 10px;
}

#loginBtn:hover {
    background-color: var(--darkest);
    border: 1px var(--white) solid;
    color: var(--white);
    width: 175px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 50px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.popup span {
    color: var(--darkest);
}

.entryWelcome {
    border: 1px var(--darkest) solid;
    padding: 30px;
    border-radius: 50%;
    margin: 20px 0;
}

.signInSpan {
    text-align: left;
}

.login-page-form {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.popup input[type="text"],
.popup input[type="password"],
.popup input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.popup input[type="submit"] {
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--darkest);
    border: 1px var(--darkest) solid;
    margin-top: 10px;
}

.popup input[type="submit"]:hover {
    background-color: var(--white);
    color: var(--darkest);
    border: 1px var(--darkest) solid;
}

.popup a {
    color: var(--darkest);
    text-decoration: none;
    margin: 10px 10px;
    display: inline-block;
    font-size: 14px;
}

.popup a:hover {
    text-decoration: underline;
}

.userLoginOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.popup button#closeButton,
.popup button#closeRegisterButton {
    background-color: var(--white);
    border-radius: 20%;
    padding: 7px 10px;
    color: var(--darkest);
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

.popup button#closeButton:hover {
    color: var(--white);
    background-color: var(--darkest);
}

.popup button#closeButton span:hover {
    color: var(--white);
}

.popup button#closeButton span {
    color: var(--darkest);
    font-size: 12px;
}

/* --------------------------------------
           SUBHEADER
  --------------------------------------*/
.subheader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: var(--white);
    background-color: var(--darkest);
    padding: 10px 0;
    text-align: center;
}

.subheader a {
    font-family: 'Cormorant', serif;
    margin: 0 15px;
    font-size: 14px;
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.subheader a:hover {
    color: var(--purple);
}

/* --------------------------------------
           DASHBOARD NAV
  --------------------------------------*/
.dashboardNav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: var(--darkest);
}

.dashImg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dashboardNav p {
    color: var(--white);
    padding: 20px;
}

.astrology-intro {
    width: 80%;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: var(--black);
}

/* --------------------------------------
            INTRODUCTION PAGE
  --------------------------------------*/
.astrology-intro {
    background-image: url('../images/login/galaxy-textures.jpg');
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    /* margin: 2rem auto; */
    max-width: 1200px;
}

.astrology-intro h1 {
    text-align: center;
    color: var(--gold);
    padding: 2rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.astrology-basics,
.why-it-matters {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 15px;
    margin-bottom: 2rem;
}

.astrology-basics h2,
.why-it-matters h2 {
    border-bottom: 2px solid var(--gold);
    padding-bottom: 10px;
    margin-bottom: 1rem;
    color: var(--gold);
}

.astrology-basics p,
.why-it-matters p {
    color: var(--white);
    line-height: 1.6;
    margin-bottom: 1rem;
}

.astrology-basics div,
.why-it-matters div {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.astrology-basics img,
.why-it-matters img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.astrology-basics strong,
.why-it-matters strong {
    color: var(--gold);
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

ul li {
    color: var(--white);
    margin-bottom: 0.5rem;
}

.cta {
    background-color: rgba(10, 10, 40, 0.9);
    border-radius: 15px;
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    margin: 20px auto;
    max-width: 600px;
    overflow: hidden;
}

.cta p {
    font-size: 18px;
    color: #E0E0FF;
    margin-bottom: 20px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    line-height: 1.5;
}

.cta button {
    background-color: #7B68EE;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 18px;
    padding: 12px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 15px rgba(123, 104, 238, 0.5);
}

.cta button:hover {
    background-color: #5A4DAD;
    transform: scale(1.05);
}

.cta button:active {
    transform: scale(0.95);
}

/* --------------------------------------
           ZODIAC SIGN
  --------------------------------------*/
.zodiacSign {
    margin-top: 300px;
}

/* --------------------------------------
             ASPECT FORM
  --------------------------------------*/
form {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

select,
input[type="submit"] {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
}

select:hover,
input[type="submit"]:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.radioButton {
    display: flex;
    align-items: center;
    text-align: center;
}

/* --------------------------------------
    BIRTHCHART ENTER RESULTS PAGE
  --------------------------------------*/
.bc_body {
    background-color: var(--darkest);
    color: var(--black);
    padding: 50px;
    background-image: url('../images/login/galaxy-flowers-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.bc_container {
    background-color: rgba(10, 10, 40, 0.8);
    padding: 50px;
    background-color: rgba(10, 10, 40, 0.9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

#bc_userForm {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    width: 500px;
    justify-content: center;
}

.bc_label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--gold);
    /* Giving the label the golden touch */
}

.bc_input,
.bc_select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--gold);
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white);
}

.bc_radio {
    margin-right: 5px;
}

.bc_button {
    background-color: #7B68EE;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 18px;
    padding: 12px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 15px rgba(123, 104, 238, 0.5);
}

.bc_button:hover {
    background-color: #5A4DAD;
}

.bc_button:active {
    transform: scale(0.95);
}

.bc_results {
    max-width: 600px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: rgba(10, 10, 40, 0.9);
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

/* jQuery Datepicker Styling */
.ui-datepicker {
    border: 1px solid #7B68EE;
    background-color: rgba(10, 10, 40, 0.9);
}

.ui-datepicker-header {
    background-color: #7B68EE;
    color: #FFFFFF;
}

.ui-datepicker-title {
    font-weight: 600;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    cursor: pointer;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #E0E0FF;
}

.ui-datepicker-calendar .ui-state-default {
    background-color: rgba(10, 10, 40, 0.9);
    color: #E0E0FF;
}

.ui-datepicker-calendar .ui-state-active {
    background-color: #5A4DAD;
}

/* --------------------------------------
            BIRTHCHART PAGE
  --------------------------------------*/
.generateBirthChart {
    background: linear-gradient(to bottom right, var(--darker), var(--darkest));
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(10, 10, 40, 0.9);
    margin: 2rem auto;
    max-width: 1200px;
    color: var(--white);
    background-color: rgba(10, 10, 40, 0.05);

}

.generateBirthChart h1,
.generateBirthChart h2 {
    text-align: center;
    color: var(--gold);
    padding: 1rem;
    border-radius: 15px;
    background-color: rgba(10, 10, 40, 0.9);
    margin-bottom: 2rem;
}

.generateBirthChart h1 {
    text-shadow: var(--soft-glow);
    border: 2px solid var(--gold);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.generateBirthChart h2 {
    text-shadow: var(--soft-glow);
    border: 1px solid var(--gold);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.generateBirthChart p {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    text-align: center;
}

.generateBirthChart ul {
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 1.5rem;
}

.generateBirthChart li {
    color: var(--white);
    margin-bottom: 0.5rem;
}

/* --------------------------------------
     HOUSE & ASTROLOGY ASPECTS CHART
  --------------------------------------*/
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

thead {
    background-color: rgba(10, 10, 40, 0.9);
}

th,
td {
    border: 1px solid var(--gold);
    padding: 15px;
    text-align: center;
}

th {
    text-shadow: var(--soft-glow);
    background-image: linear-gradient(45deg, rgba(10, 10, 40, 0.8), rgba(10, 10, 40, 0.9));
    font-weight: bold;
}

td {
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    border-color: rgba(255, 215, 0, 0.3);
}

td img {
    filter: brightness(1.4) drop-shadow(0 0 05px var(--gold));
    word-wrap: break-word;
    max-width: 100%;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2),
        /* Original shadow */
        0 0 10px var(--gold),
        /* Added glow */
        0 0 20px var(--gold),
        /* More glow for intensity */
        0 0 20px var(--gold);
    /* Even more glow */
    margin: 10px 0;
}

.houseTableContent img {
    width: 20%;
    max-width: 100%;
    border-radius: 50%;
}

.aspectsTableContent img {
    width: 50%;
}

.houseTableContent,
.aspectsTableContent {
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.inner-table {
    width: 100%;
    border-radius: 10px;
    background-color: rgba(10, 10, 40, 0.8);
    box-shadow: 0 0 10px var(--gold), 0 0 20px var(--gold), 0 0 20px var(--gold);
    overflow: hidden;
    /* To make sure border-radius is applied to all child elements */
}

.aspect-name,
.aspect-description {
    padding: 10px;
    color: var(--white);
}

.aspect-name {
    font-weight: bold;
    background-color: rgba(10, 10, 40, 0.9);
}


/* --------------------------------------
           BASIC CELESTIAL INFORMATION
  --------------------------------------*/
.info-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 2rem;
}

.image-column {
    flex: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-column img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.left-column {
    flex: 2;
    padding: 1rem;
    background-color: rgba(10, 10, 40, 0.1);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.right-column {
    flex: 1;
    padding: 1rem;
    background-color: rgba(10, 10, 40, 0.05);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.info-section h2 {
    margin-top: 0;
}

.inner-glow-table {
    width: 100%;
    border-radius: 10px;
    background-color: rgba(10, 10, 40, 0.8);
    box-shadow: 0 0 10px var(--gold), 0 0 20px var(--gold), 0 0 20px var(--gold);
    overflow: hidden;
    /* To ensure border-radius is applied to all child elements */
    border-collapse: collapse;
    border: none;
    /* Remove outer borders for the inner table */
}

.inner-glow-table td {
    border: none;
    /* Remove cell borders for the inner table */
    padding: 15px;
}

/* --------------------------------------
          HOUSE TABLE
  --------------------------------------*/
.inner-info-table {
    margin: 30px;
    width: 80%;
    border-radius: 10px;
    background-color: rgba(10, 10, 40, 0.8);
    box-shadow: 0 0 10px var(--gold), 0 0 20px var(--gold), 0 0 20px var(--gold);
    overflow: hidden;
    /* To make sure border-radius is applied to all child elements */
    border-collapse: collapse;
    border: none;
    /* Remove outer borders for the inner table */
}

.planet-name,
.planet-info {
    padding: 10px;
    color: var(--white);
    border: none;
    /* Remove cell borders for the inner table */
}

.planet-name {
    font-weight: bold;
    background-color: rgba(10, 10, 40, 0.9);
    text-align: left;
    /* Align to the left */
}

.planet-info {
    text-align: left;
    /* Align to the left */
}

/* --------------------------------------
             FOOTER
  --------------------------------------*/
footer {
    background-color: var(--darkest);
    color: #ecf0f1;
    padding-top: 40px;
    margin: 0;
}

footer a:hover {
    color: var(--purple);
}

.footer-content {
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-content h3 {
    padding-bottom: 10px;
}

.footer-introduction p {
    margin-bottom: 15px;
}

/* --------------------------------------
        FOOTER: ABOUT & POLICIES
  --------------------------------------*/
.about-me {
    padding-left: 30px;
}

.about-me,
.social-media,
.footer-introduction,
.resources,
.shop {
    flex: 1;
    text-decoration: none;
}

/* --------------------------------------
         FOOTER: RESOURCES & SHOP
  --------------------------------------*/
.resources a,
.shop a {
    text-decoration: none;
    color: var(--white);
}

.resources ul,
.shop ul {
    list-style-type: none;
}

.resources li,
.shop li {
    margin-bottom: 10px;
    list-style: none;
}

/* --------------------------------------
             FOOTER: SHARE
  --------------------------------------*/
.chatWithUs {
    display: flex;
}

.geoIcon {
    width: 30%;
}

.geoIcon i {
    text-decoration: none;
    color: var(--white);
    border: 1px var(--white) solid;
    border-radius: 50%;
    padding: 15px;
}

.geoIcon a {
    color: var(--white);
    text-decoration: none;
    font-size: 30px;
}

.contactHours {
    width: 75%;
    line-height: 1.3;
    margin-bottom: 20px;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    border: 1px var(--white) solid;
    border-radius: 50%;
    color: var(--white);
    text-decoration: none;
    padding: 7px;
}

.social-media img {
    height: 25px;
    transition: opacity 0.2s;
}

.social-media img:hover {
    opacity: 0.8;
}

.footer-bottom {
    background: var(--white);
    color: var(--darkest);
    text-align: right;
    margin-top: 30px;
    font-size: 14px;
    padding: 10px;
}

.footer-bottom span {
    margin-right: 50px;
}

.footer-bottom a {
    color: var(--darkest);
    text-decoration: none;
}

@media (max-width: 991px) {
    .logo {
        margin: 10px;
    }

    .headerMenu {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .login-page-form {
        width: 80%;
    }

    .links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.884);
        color: var(--white);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        z-index: 1000;
    }

    .links.open {
        display: flex;
    }

    .links a {
        margin: 10px 0;
        text-decoration: none;
        color: var(--white);
    }

    .links a:hover {
        margin: 10px 0;
        text-decoration: none;
        color: var(--purple);
    }

    /* .houseTableContent {
        width: 100%;
    } */

    .subheader {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    /* table {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    } */

    /* thead {
        display: none;
    } */

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer-introduction {
        display: none;
    }

    .dashboardNav {
        display: none;
    }

    .toggle {
        display: block;
        position: fixed;
        top: 55px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: var(--white) url(/images/logos/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10;
    }

    .toggle.active {
        background: var(--white) url(/images/logos/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .banner {
        display: none;
    }
}

@media (max-width: 768px) {
    .loginPageColumn p {
        font-size: 1.5em;
    }

    .loginPageColumn h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 600px) {
    .entryWelcome {
        border-radius: 0;
    }

    .loginPageColumn img {
        width: 100px;
        height: 100px;
    }

    .loginPageColumn p {
        font-size: 1.4em;
        line-height: 0.8;
    }

    .loginPageColumn h1 {
        font-size: 2.4em;
    }

    .popup {
        padding: 20px;
        max-width: 60%;
    }

    .popup button#closeButton {
        top: 5px;
        right: 5px;
    }
}