@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

:root {
    --white: #fff;
    --babyblue: #b0e0e6;
    --gold: #9F6B5D;
    --purple: #9C416E;
    --darker: #251342;
    --darkest: #130A21;
    --black: #000;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 36px;

}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Cormorant', serif;
}

p {
    font-size: 16px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;

}

nav {
    font-family: 'Cormorant', serif;
}

/* --------------------------------------
            HEADER NAV & LINKS
  --------------------------------------*/
.headerMenu {
    padding: 1vw 2vw;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-size: cover;
    background-image: url('../images/galaxy-flower-background.jpg');
}

.iconWidth {
    flex: 1;
}

.logo {
    justify-content: left;
    width: 135px;
    height: 135px;
    background: url('../images/logos/white-lightoftwelve-logo.png') no-repeat center;
    background-size: contain;
}

.links {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    margin: 0 15px;
    color: var(--white);
    text-decoration: none;
}

.links a:hover {
    margin: 0 15px;
    color: var(--purple);
}

.sign-in {
    flex: 1;
    display: flex;
    justify-content: right;

    font-size: 16px;
    color: var(--white);
}

.sign-in span {
    font-size: 14px;
    font-family: 'Cormorant', serif;
    margin-left: 10px;
}

/* --------------------------------------
           HEADER BANNER
  --------------------------------------*/
.banner {
    padding: 1vw 2vw;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--darkest);
}

.banner a {
    color: var(--white);
    text-decoration: none;
}

.bannerSpan {
    margin-right: 10px;
}

.left {
    flex: 1;
    display: flex;
    justify-content: left;
}

.left a {
    margin-right: 10px;
}

.left a:hover {
    color: var(--purple);
}

.left a i,
.share-icons a i {
    margin-right: 3px;
}

.center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.rightSideBanner {
    flex: 1;
    display: flex;
    justify-content: right;
}

.bannerSpanShare {
    font-size: 12px;
    margin-right: 7px;
}

.headerShare {
    display: flex;
    align-items: center;
}

.headerShare a {
    padding: 3px;
    color: var(--white);
    text-decoration: none;
}

.headerShare a:hover {
    color: var(--purple);
}

/* --------------------------------------
             LOGIN PAGE
  --------------------------------------*/

.loginPage {
    font-family: Arial, sans-serif;
    background: url('../images/galaxy-flower-background.jpg') no-repeat;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Cormorant', serif;
}

#signInButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    color: var(--darkest);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#signInButton:hover {
    color: var(--white);
    background-color: var(--darkest);
}


/* --------------------------------------
               CONTACT SECTION
  --------------------------------------*/
.contact {
    /* max-width: 800px; */
    margin: 40px auto;
    background-color: var(--white);
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border 0.2s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: var(--subtitle);
}

textarea {
    resize: vertical;
}

button {
    background-color: var(--subtitle);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #1f5e88;
}

/* Style for the success message */
#success-message {
    display: none;
    color: green;
    font-weight: bold;
}

/* Style to hide the form when the success message is displayed */
#contact-form.hidden {
    display: none;
}

/* --------------------------------------
             FOOTER
  --------------------------------------*/

footer {
    background-color: var(--darkest);
    color: #ecf0f1;
    padding: 40px 0 10px 0;
    margin-top: 50px;
    width: 100vw;
}

.footer-content {
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    width: 100vw !important;
}

.footer-content h3 {
    padding-bottom: 10px;
}

/* --------------------------------------
        FOOTER: ABOUT & POLICIES
  --------------------------------------*/

.about-me {
    padding-left: 30px;
}

.about-me,
.social-media,
.footer-introduction,
.resources,
.shop {
    flex: 1;
    min-width: 250px;
    text-decoration: none;
}

h3 {
    font-size: 20px;
}

/* --------------------------------------
         FOOTER: RESOURCES & SHOP
  --------------------------------------*/
.resources a,
.shop a {
    text-decoration: none;
    color: var(--white);
}

.resources ul,
.shop ul {
    list-style-type: none;
}

.resources li,
.shop li {
    margin-bottom: 10px;
    list-style: none;
}

/* --------------------------------------
             FOOTER: SHARE
  --------------------------------------*/
.chatWithUs {
    display: flex;
}

.geoIcon {
    width: 30%;
}

.geoIcon i {
    text-decoration: none;
    color: var(--white);
    border: 1px var(--white) solid;
    border-radius: 50%;
    padding: 15px;
}

.geoIcon a {
    color: var(--white);
    text-decoration: none;
    font-size: 30px;
}

.contactHours {
    width: 75%;
    line-height: 1.3;
    margin-bottom: 20px;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    border: 1px var(--white) solid;
    border-radius: 50%;
    color: var(--white);
    text-decoration: none;
    padding: 7px;
}

.social-media img {
    height: 25px;
    transition: opacity 0.2s;
}

.social-media img:hover {
    opacity: 0.8;
}

.footer-bottom {
    background: var(--white);
    color: var(--darkest);
    text-align: right;
    margin-top: 30px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.footer-bottom span {
    margin-right: 50px;
}

.footer-bottom a {
    color: var(--darkest);
    text-decoration: none;
}

@media (max-width: 991px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
    }

    #logo {
        margin: 0;
    }

    .links {
        display: none;
    }

    .links a {
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .links.active a {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--black);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .toggle {
        display: block;
        position: fixed;
        top: 55px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: var(--white) url(/public/images/logos/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10;
    }

    .toggle.active {
        background: var(--white) url(/public/images/logos/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .banner {
        display: none;
    }
}